/* LTR EXAMPLE */
.ha-ltr-example {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 1rem;
}

.ha-ltr-example .ha-ltr-phrase {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  direction: ltr;
  text-align: left;
}

.ha-ltr-example .ha-ltr-phrase .ha-ltr-icon {
  color: #4b70f5;
}

.ha-ltr-example .ha-translate {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ha-ltr-example .ha-translate .ha-rtl-icon {
  color: #4b70f5;
}

/* RTL EXAMPLE */
.ha-rtl-example {
  display: flex;
  gap: 1rem;
}

.ha-rtl-example .ha-rtl-phrase {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  direction: rtl;
}

.ha-rtl-example .ha-rtl-phrase .ha-ltr-icon {
  color: #4b70f5;
}

.ha-rtl-example .ha-translate {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ha-rtl-example .ha-translate .ha-rtl-icon {
  color: #4b70f5;
}

@media (max-width: 768px) {
  .ha-ltr-example,
  .ha-rtl-example {
    position: relative;
    flex-direction: column;
    gap: 0;
  }

  .ha-ltr-example::after,
  .ha-rtl-example::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80%;
    height: 1px;
    background-color: #4b70f5;
    transform: translateX(-50%);
    transition: width 0.3s;
  }
}
