.ha-etymology-wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5rem;
  font-size: small;
}

.ha-etymology-wrapper .ha-etymology-icon {
  color: #4b70f5;
}

.ha-etymology-wrapper .ha-etymology {
  font-family: "B Yekan", system-ui, "Noto Sans Arabic", "DejaVu Sans",
    sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
